.appointment {
    width: 700px;
    height: 80px;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.appointment input[type="date"] {
    width: 130px;
    height: 40px;
    border: none;
    padding: 5px;
    border-radius: 5px;
}

/* .appointment input[type="text"] {
    width: 220px;
    height: 40px;
    color: #000;
    border: none;
    padding-left: 10px;
} */

.appointment .find-query {
    width: 220px;
    height: 40px;
    color: #000;
    border: none;
    padding-left: 10px;
}

.appointment .find-doctor {
    width: 200px;
    height: 40px;
    color: #000;
    border: none;
    padding-left: 10px;
}

.appointment input::placeholder {
    color: rgba(0, 0, 0, 0.4);
}

.appointment button {
    height: 40px;
    width: 90px;
    background-color: #1fab89;
    color: #fff;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


.appointment button:active {
    width: 88px;
    height: 38px;
}

.appointment button:hover {
    background-color: #1fa089;
}

/* 320px to 628px */
@media (min-width: 320px) and (max-width: 628px) {

    .appointment input[type="date"] {
            width: 100%;
        }
    
        .appointment .find-query {
            width: 100%;
        }
    
        .appointment .find-doctor {
            width: 100%;
        }
    
        .appointment button {
            width: 100%;
        }

}