li {
    list-style: none;
}

.doctor-page {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* text-align: center; */
    padding: 20px 80px;
}

.doctor-page-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.doctor-page-content h2 {
    font-size: 30px;
}

.doctor-page-content .qualification,
.doctor-page-content .experience {
    font-weight: 600;
}

.doctor-page-content .specialist {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.doctor-page-content .specialist li {
    background-color: #135d66;
    color: #fff;
    padding: 0px 10px;
    border-radius: 5px;
}

.doctor-page-content p {
    margin-top: 20px;
}

/* Responsive */
/* 320px to 628px */
@media (min-width: 320px) and (max-width: 628px){

    .doctor-page {
        padding: 20px 20px;
    }

    .doctor-page-image img {
        width: 200px;
    }

    .doctor-page-content p {
        margin-top: 20px;
        font-size: 12px;
    }

    .doctor-page-content .specialist {
        flex-wrap: wrap;
    }
}