.flex {
    display: flex; 
    flex-direction: column;
}

.login-registration {
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #aadde5;
}

.login-registration-left {
    width: 50%;
    height: fit-content;
    /* border: 2px solid #000; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-registration-left img {
    width: 600px;
}

.login-registration-right {
    height: fit-content;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 20px;
}

.generate-otp {
    cursor: pointer;
    text-decoration: underline;
    color: blue;
}

.login-registration-right h2 {
    font-size: 30px;
}

.login-registration-right form {
    width: 550px;
    height: fit-content;
    /* border: 2px solid #000; */
    display: flex;
    flex-direction: column;
    background-color: #fff;
    row-gap: 10px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10px;
}

.login-registration-right form label {
    font-size: 15px;
    font-weight: 600;
}

.login-registration-right form input[type="text"],
input[type="date"],
input[type="email"],
input[type="password"],
select{
    height: 30px;
    padding-left: 20px;
    border: none;
    background-color: #e2e8f0;
    font-size: 15px;
    border-radius: 5px;
    outline: none;
}

.line-one {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.line-one .flex {
    width: 50%;
}

.login-registration-right form button {
    height: 40px;
    width: 100%;
    background-color: #1fab89;
    border: none;
    border-radius: 2px;
    outline: none;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}

.create-account {
    width: 100%;
    height: 80px;
    /* border: 2px solid #000;  */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.create-account button {
    height: 40px;
    width: 150px;
    font-size: 15px;
    background-color: #3498db;
    border: none;
    border-radius: 2px;
    outline: none;
    color: #fff;
    cursor: pointer;
}

/* Responsive */
/* 768px to 1024px */
@media (min-width: 768px) and (max-width: 1024px){

    .login-registration-left {
        display: none;
    }

    .login-registration-right {
        gap: 20px;
    }

}

/* 628px to 768px */
@media (min-width: 628px) and (max-width: 768px){

    .login-registration-left {
        display: none;
    }

    .login-registration-right {
        gap: 20px;
        width: 100%;
    }

}

/* 428px to 628px */
@media (min-width: 428px) and (max-width: 628px){

    .login-registration-left {
        display: none;
    }

    .login-registration-right {
        gap: 20px;
        width: 100%;
    }

    .login-registration-right form  {
        width: 400px;
    }

    .login-registration-right form label {
        font-size: 15px;
    }

    .login-registration-right form input[type="text"],
    input[type="password"],
    input[type="date"] {
        height: 30px;
        padding-left: 20px;
        font-size: 12px;
    }

        .login-registration-right form input[type="button"] {
            font-size: 15px;
            height: 30px;
        }

}

/* 320px to 428px */
@media (min-width: 320px) and (max-width: 428px){

    .login-registration-left {
        display: none;
    }

    .login-registration-right {
        gap: 20px;
        width: 100%;
        padding: 0px 20px;
    }

    .login-registration-right form  {
        width: 350px;
        padding: 10px;
    }

    .login-registration-right form label {
        font-size: 15px;
    }

    .login-registration-right form input[type="text"],
    input[type="date"],
    select {
        height: 30px;
        padding-left: 20px;
        font-size: 12px;
    }

    .login-registration-right form input[type="button"] {
        font-size: 15px;
        height: 30px;
    }

    .create-account {
        width: 100%;
        gap: 10px;
    }

}