
.profile {
    display: flex;
    flex-direction: column;
    padding: 20px 60px;
}

.profile-buttons {
    display: flex;
    flex-direction: column;
}

.upper-profile {
    display: flex;
    align-items: start;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding-bottom: 20px;
}

.profile-img {
    display: flex;
    gap: 40px;
}

.profile-img img {
    width: 250px;
    height: 250px;
    object-fit: contain;
    border-radius: 55%;
    border: 2px solid #000;
}

.profile-img .data {
    margin-top: 20px;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    gap: 0px;
}

.profile-img .data label {
    font-size: 25px;
}

.upper-profile button {
    width: 150px;
    height: 40px;
    background-color: #5755FE;
    color: #fff;
    border: none;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    margin-top: 20px;
}

.down-profile {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 20px;
    line-height: 25px;
    padding-left: 280px;
    padding-top: 20px;
    padding-bottom: 50px;
}

.down-profile .line {
    background-color: #5755FE;
    height: 5px;
    width: 100px;
    border-radius: 10px;
}

.down-profile .data {
    width: 700px;
    display: flex;
    line-height: 40px;
}

.data .profile-row1 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
}

.profile-row2 {
    line-height: 35px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.profile-row2 input[type="text"],
input[type="date"],
input[type="email"],
input[type="password"],
select {
    height: 30px;
    padding-left: 20px;
    border: none;
    background-color: #e2e8f0;
    font-size: 15px;
    border-radius: 5px;
    outline: none;
}

.data {
    position: relative;
}

.profile-row2 button {
    position: absolute;
    left: 40%;
    bottom: -50px;
    background-color: #5755FE;
    color: #fff;
    border: none;
    width: 100px;
}