.testimonial-card {
    width: 250px;
    height: 150px;
    /* border: 2px solid #000; */
    padding: 10px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin: 0px auto;
}

.image-and-name {
    display: flex;
    align-items: start;
    justify-content: start;
}

.image-and-name img {
    width: 50px;
}

.testimonial-card p {
    margin-top: 20px;
}

.stars i {
    color: #ffa534;
}